.Logo {
    font-weight: bold;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    height: 30px;
    line-height: 20px;
    padding: 10px;
}

.Logo:hover img {
    transform: rotate(20deg);
}
